# Dependencias y paquetes
node_modules/
package-lock.json

# Entornos y secretos (NUNCA SUBIR A GITHUB)
.env
.env.local
.env.*.local
backend/.env
frontend/.env

# Build y carpetas temporales
frontend/dist/
backend/ssl/
*.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuraciones locales de sistema/editores
.vscode/
.idea/
.DS_Store
Thumbs.db
